/* Header styling */
header {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center; 
}

/* Header div styling  */
.content {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center; 
  margin-bottom: 10px;
}

/* Background-color of app */
body {
  background-color: #241f1f; /* Put this to black just to make it similar to the design template */
}

/* App layout */
.album-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}
